{% extends 'metroshop/base.html' %}
{% load static %}
{% block content %}

    <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
            <b>Company Config Master</b></div>

            <div class="card-body">

              <div class="table-responsive">
<form id="master_config" name="master_config" method="post" action="{% url 'master_config_update2'  %}"  enctype="">
                  {% csrf_token %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>Name </th>
                        <th>Value</th>


                    </tr>
                  </thead>
                  <tbody>

                    {% for conf in m_config %}


                    <tr>

                        <td><b>company Name </b></td>
                        <td><b></b><input type="text" name="company_name" value="{{conf.company_name }}"></b></td></tr><tr>
                        <td><b>company Mobile</b></td>
                        <td><b><input type="text"  name="company_mobile"  value="{{conf.company_mobile }}"></b></td></tr><tr>
                        <td><b>company Address</b></td>
                        <td><b></b><textarea name="company_address" >{{ conf.company_address }} </textarea></b></td>

                    </tr>
                    {% endfor %}
                  <tr><td></td><td> <button class="submit" name="add_product_info" onClick="javascript:save_existing_product();">Submit</button></td></tr>


                  </tbody>
                </table></form>
              </div>
            </div>
          </div>





    {% endblock %}

